.destination {
  margin: 4rem 6rem;
}
.destination h1 {
  font-size: 3rem;
}
.destination p {
  padding-bottom: 1.1rem;
}

/* ProductGrid.css */
.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  width: calc(25% - 20px);
  margin-bottom: 70px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  border-radius: 8px;
  /* overflow: hidden;
  text-overflow: ellipsis; */
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
}

.product-name {
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 1024px) {
  .product-card {
    width: calc(33.33% - 20px);
  }
}

@media (max-width: 768px) {
  .product-card {
    width: calc(50% - 20px);
  }
  .destination {
    margin: 4rem 2rem;
  }
  .first-des {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 2.5rem;
  }
  .des-text {
    width: 100%;
  }
  .image {
    width: 100%;
    margin: 1.8rem 0;
  }
  .image img {
    height: 250px;
  }
}

@media (max-width: 480px) {
  .product-card {
    width: 100%;
  }
}

/* .first-des {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.5rem;
}

.des-text {
  width: 45%;
  text-align: start;
  font-size: 1.1rem;
}
.des-text h2 {
  padding-bottom: 1rem;
}
.image {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: space-between;
  z-index: -99;
}
.image img {
  width: 49%;
  height: 350px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}
.img2 {
  position: absolute;
  right: 0px;
  top: -10%;
} */
